/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
composer.json

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.vs/

# Backups y archivos temporales
*.zip
*.sql

# Laravel
/vendor/
/node_modules/
/storage/*.key
/storage/app/public/*
.env
.env.*
!.env.example
